
.price-fall .x-change-cell {
    background-color: #FFB0C4;
    color:red;
}
.price-rise .x-change-cell {
    background-color: #B0FFC5;
    color:green;
}
.Dashboard {
    background-image: url('./images/Dashboard.png');
}
.bullets {
    background-image: url('./images/bullets.png');
}
.Konfigurasi {
	background-image: url('./images/config.png');
}
.sap {
	background-image: url('./images/report_check.png');
}
.Reliability {
	background-image: url('./images/report.png');
}
.RunnningHour {
	background-image: url('./images/edit1.png');
}
.icon-downtime {
	background-image: url('./images/grid.png');
}
.icon-grid  {
	background-image: url('./images/application_go.png');
}

.Compressor {
	background-image: url('./images/comp16.png');
}

.editEvent {
	background-image: url('./images/edit1.png');
}

.hpsEvent {
	background-image: url('./images/delete.png');
}

.clrFilter {
	background-image: url('./images/clrFilter.png');
}

.more {
	background-image: url('./images/more.png');
}

.cross {
	background-image: url('./images/cross.png');
}

.savedisk {
	background-image: url('./images/savedisk.png');
}

.add {
	background-image: url('./images/add.png');
}
.cog {
	background-image: url('./images/cog.png');
}

.connect {
	background-image: url('./images/connect.png');
}

.rusak .x-change-cell {
    /*background-color: #FFB0C4;*/
    color:red;
}
.sip .x-change-cell {
    /*background-color: #B0FFC5;*/
    color:green;
}
.baik .x-change-cell {
    /*background-color: #B0FFC5;*/
    color:blue;
}
.cTextAlign {
	text-align: center;
	/*color:blue;*/
}
.dollar {
	background-image: url('./images/dollar.png');
}

.accept {
	background-image: url('./images/accept.png');
}

.scala {
	background-image: url('./images/scala.png');
}

.up {
	background-image: url('./images/up.png');
}

.new_folder_tree {
    background-image: url('./images/folder-add.png');
}
.delete_folder_tree {
    background-image: url('./images/folder-delete.png');
}

.new_cat_tree {
    background-image: url('./images/folder-add.png');
}
.del_cat_tree {
    background-image: url('./images/folder-delete.png');
}
.tasks-new-list {
    background-image: url('./images/new_list.png');
}
.tasks-delete-task {
    background-image: url('./images/delete_task.png');
}
.tasks-delete-list {
    background-image: url('./images/delete_list.png');
}

.x-grid-row-summary {
    background-color: #fdff5c;
}

.txtka {
	margin: 10px 10px;
	font-size: 18px;
}

.jdlForm {
	/*margin: 100 0 100 20px;*/
	font-size: 18px;
}

.newHir {
    background-image: url('./images/folder-add.png');
}
.newUnit	{
	background-image: url('./images/comp16.png');
}
.newEquip {
	background-image: url('./images/connect.png');
}
.excel {
	background-image: url('./images/excel.png');
}
.refresh {
	background-image: url('./images/refresh.png');
}
.refTH {
	background-image: url('./images/refresh.png');
}
.expand {
	background-image: url('./images/expand.png');
}
